body{
font-family: Arial;
margin:0;
background:linear-gradient(to right,#ff9a9e,#fad0c4);
}

header{
background:#ff5733;
color:white;
text-align:center;
padding:20px;
}

nav{
margin-top:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

section{
background:white;
padding:30px;
margin:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.hero{
text-align:center;
color:white;
padding:100px;
background:linear-gradient(to right,#ff512f,#dd2476);
}

h1,h2,h3{
color:#333;
}

ul{
line-height:1.8;
}

form{
display:flex;
flex-direction:column;
width:300px;
}

input,textarea{
margin-bottom:10px;
padding:8px;
}

button{
background:#ff5733;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

button:hover{
background:#c70039;
}

footer{
text-align:center;
padding:20px;
color:white;
}
